<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Puppet Analytics</title>
    <meta charset="utf-8">
    <meta name="author" content="Spencer Krum">
    <meta name="description" content="Web application to collect and display module deploy stats">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class=page>
      <h1><a href={{ url_for('mainpage') }}> Puppet Analytics</a></h1>
      <div class=metanav>
        {% block body %}{% endblock %}
      </div>
    </div>
  </body>
</html>
