<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Puppet Analytics</title>
    <meta charset="utf-8">
    <meta name="author" content="Spencer Krum">
    <meta name="description" content="Web application to collect and display module deploy stats">
    <script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
  </head>
  <body>

    <nav class='navbar navbar-default navbar-static-top navbar-inverse' role='navigation'>
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('mainpage') }}">Puppet Analytics</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/nibalizer/puppet-analytics/blob/master/README.md">About</a></li>
      </ul>
    </nav>

    <div class="mainpage">
      <div class="metanav">
        {% block body %}{% endblock %}
      </div>
    </div>

    <!-- Privacy Information Modal -->
    <div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Puppet Analytics Privacy Information</h4>
          </div>
          <div class="modal-body">
            <p>About four years. I got tired of hearing how young I looked. I guess it's better to be lucky than good. You're going to be an interesting companion, Mr. Data. What? We're not at all alike! Some days you get the bear, and some days the bear gets you. Maybe if we felt any human loss as keenly as we feel one of those close to us, human history would be far less bloody. Mr. Worf, you do remember how to fire phasers? Besides, you look good in a dress. Computer, lights up! Shields up! Rrrrred alert!</p><br>
<p>Wait a minute - you've been declared dead. You can't give orders around here. We finished our first sensor sweep of the neutral zone. What's a knock-out like you doing in a computer-generated gin joint like this? Computer, belay that order. Sorry, Data. Some days you get the bear, and some days the bear gets you. I recommend you don't fire until you're within 40,000 kilometers. This is not about revenge. This is about justice. We know you're dealing in stolen ore. But I wanna talk about the assassination attempt on Lieutenant Worf. In all trust, there is the possibility for betrayal.</p><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Got it!</button>
          </div>
        </div>
      </div>
    </div>


    <nav id='footer' class="navbar navbar-default navbar-fixed-bottom navbar-inverse" role='navigation'>
      <div id='privacyButton' class='col-md-2' data-toggle="modal" data-target="#privacyModal">
        <p><span class='glyphicon glyphicon-exclamation-sign'></span>  Privacy Information</p>
      </div>
    </nav>
  </body>
</html>
