{% extends "layout.html" %}
{% block body %}
  <div id="moduleSummary"  class="col-md-5 container">
    <h2 class="sectionTitle">Module Summary</h2>
    <div class="alert alert-success">
      <p class="sectionSubHeader"> <span class="glyphicon glyphicon-search"></span> Found {{ total_downloads }} total module downloads from {{ num_authors }} authors and {{ num_modules }} modules:</p>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr class="tableHeaderRow">
          <th>Author</th>
          <th>Module</th>
          <th>Deploys</th>
        </tr>
      </thead>
      <tbody>
       {% for module in deploy_aggregates %}
            <tr class="tableDataRow" onclick='document.location = "{{ url_for('module_page', author=module[1], module=module[2])}}";'>
              <td><span class="glyphicon glyphicon-user"></span>  {{ module[1] }}</td>
              <td>{{ module[2] }}</td>
              <td>{{ module[1] }}</td>
            </tr>
        {% endfor %}
          
      </tbody>
    </table>
  </div>
  <div class="col-md-5 container">
    <br><br><br><br><br><br>
  </div>
{% endblock %}
