{% extends "layout.html" %}
{% block body %}

<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
<div id='mainContentContainer'>
  <div id='moduleTitleContainer' class='col-md-10 container'>
    <h2><span class='emphasisWord'>{{ modulename }}</span> module, authored by <span class='emphasisWord'>{{ author }}</span></h2>
  </div>

  <div id='deployTrendsContainer' class='col-md-5 container'>
    <h4 class='sectionTitle'>Deployments over last 7 Days</h4>
    <div id='deployTrendsGraph'></div>
  </div>
  <div id='coreStatsContainer' class='col-md-5 container'>
    <h4 class='sectionTitle'>Core Stats</h4>
  </div>

  <div id='totalDeploysContainer' class='col-md-5 container'>
    <h4 class='sectionTitle'>Total Deployments</h4>
  </div>
  <div id='tagsChartContainer' class='col-md-5 container'>
    <h4 class='sectionTitle'>Tag Stats</h4>
  </div>

  <div id='dailyDeploysContainer' class='col-md-5 container'>
    <h4 class='sectionTitle'>Daily Stats</h4>
  </div>
</div>
<script>
  $(document).ready(function() {
    createDeployTrendsGraph("#deployTrendsGraph", {{ xs }}, {{ ys }})
  })
</script>
{% endblock %}
