{% extends "layout.html" %}
{% block body %}
<div id='mainContentContainer'>

  <div id='moduleTitleContainer' class='col-md-10 container'>
    <h2><span class='emphasisWord'>{{ modulename }}</span> module, authored by <span class='emphasisWord'>{{ author }}</span></h2>
  </div>

  <div id='deployTrendsContainer' class='col-md-5 container'>
    <h3 class='sectionTitle'>Deployment Trends</h3>
  </div>
  <div id='coreStatsContainer' class='col-md-5 container'>
    <h3 class='sectionTitle'>Core Stats</h3>
  </div>

  <div id='totalDeploysContainer' class='col-md-5 container'>
    <h3 class='sectionTitle'>Total Deployments</h3>
  </div>
  <div id='tagsChartContainer' class='col-md-5 container'>
    <h3 class='sectionTitle'>Tag Stats</h3>
  </div>

  <div id='dailyDeploysContainer' class='col-md-5 container'>
    <h3 class='sectionTitle'>Daily Stats</h3>
  </div>
</div>
<script> var chart = c3.generate({
    bindto: '#deployTrendsContainer',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 50, 20, 10, 40, 15, 25]
      ]
    }
});
</script>
{% endblock %}
