/* Main style sheet for puppet-analytics */

body { background-color: #F0F0F0; }
td { cursor: pointer }

/* navbar elements */

#privacyButton { cursor: pointer; }
#privacyButton:hover { color: #006600 !important; }

/* Main page styling */

.container { margin-left: 50px; }

.container,
#moduleMainContainer {
  margin-top: 25px;
  border-radius: 9px;
  background-color: white;
}

#privacyModalLabel {
  color: #006600;
}

.sectionTitle {
  margin-left: 10px;
  color: #006600;
}

.sectionSubHeader {
  margin-left: 20px;
}

/* Module page styling */

.emphasisWord {
  color: #006600;
}

#moduleTitleContainer {
  margin-left: 50px;
}

#moduleTitleContainer h2 {
  margin-top: 5px;
  margin-left: 10px;
}

#deployTrendsGraph {
  height: 85%;
  width: 100%;
}

#moduleHitCount {
  margin-left: 20px;
}

#deployTrendsContainer,
#coreStatsContainer,
#totalDeploysContainer,
#dailyDeploysContainer,
#tagsChartContainer {
  height: 300px;
}

/* Bootstrap overrides */
.navbar-inverse {
  background-image: linear-gradient(to bottom,#fff,#C0C0C0);
  border: none;
}

.navbar-nav.navbar-right:last-child {
  margin-right: 10px;
  color: black !important;
}

.navbar-inverse .navbar-brand {
  margin-left: 15px;
  color: black;
}
.navbar-brand:hover { color: #006600 !important; }
.navbar-inverse .navbar-nav>li>a { color: black; }
.navbar-inverse .navbar-nav>li>a:hover {
  color: #006600 !important;
  cursor: pointer;
}

#footer {
  min-height: 25px;
}

/* End Bootstrap overrides */
